<app-layout>
  <div class='container'>
    <div class='card'>
      <div class='card-header'>
        <h1>Lista de Modulos</h1>
      </div>
      <div class='card-body'>

        <div >
          <div class=""><button  type="button" class="btn btn-primary">Crear Modulos</button></div>
          <div>
            <div class="p-5">

              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Class</th>
                  <th scope="col">Fecha creación</th>
                  <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let module of listModules">
                  <th scope="row">1</th>
                  <td>{{module.name}}</td>
                  <td>{{module.description}}</td>
                  <td>{{module.class}}</td>
                  <td>{{module.created_at}}</td>
                  <td class="d-flex">
                    <i class="bi bi-trash-fill col-md-6 cursor-pointer"  ></i>
                    <i class="bi bi-pencil-fill col-md-6 cursor-pointer"></i>
                  </td>
                </tr>
                </tbody>
              </table>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</app-layout>
