<div class="p-5">

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Alumno</th>
      <th scope="col">Codigo</th>
      <th scope="col">Actividad</th>
      <th scope="col">Faena</th>
      <th scope="col">Rifa</th>
      <th scope="col">Deuda Total</th>
      <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <th scope="row">1</th>
      <td>Invetario1</td>
      <td>Descriocion inevntario</td>
      <td>7</td>
      <td>Activo</td>
      <td>7</td>
      <td>Activo</td>
      <td class="d-flex">
        <i class="bi bi-trash-fill col-md-6 cursor-pointer"  ></i>
        <i class="bi bi-pencil-fill col-md-6 cursor-pointer"></i>
      </td>
    </tr>
    </tbody>
  </table>


</div>
