<div class=" w-100 h-100">
  <div class="row  d-flex align-items-center h-100 px-5 mt-4 ">
    <div class="col my-4 px-5" >
      <form class="py-2" [formGroup]="AttendanceFormGroup">
        <div class="d-flex justifyml-4-content-center">
          <p class="h1">Registrar Asistencia</p>
        </div>

        <div class="container">
          <div class="row w-100 d-flex">
            <div class="form-group mt-4 col-md-6">
              <label>Eventos</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle form-control form-control-lg d-flex justify-content-between align-items-center" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <span>{{ eventSelect?.description || 'Selecciona un evento' }}</span>
                  <span><i class="fas fa-chevron-down"></i></span>
                </a>
                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
                  <li *ngFor="let event of listEvent" [ngClass]="{'active': event.id === eventSelect?.id}">
                    <a class="dropdown-item" (click)="selectEvent(event.id)">{{ event.description }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-group mt-4 col-md-6">
              <label >Fecha</label>
              <input
                formControlName="date_attendance"
                type="text"
                class="form-control"
                #dp="bsDatepicker"
                bsDatepicker
              />
            </div>
          </div>
          <div class="row w-100 d-flex">
            <div class="form-group mt-4 col-md-6">
              <label for="promotion">Codigo Estudiante</label>
              <input  id="promotion" formControlName="code_student" type="email" class="form-control form-control-lg" aria-describedby="emailHelp" placeholder="">
            </div>
          </div>
        </div>
        <div class="w-100 mt-4 d-flex justify-content-center">
          <button type="submit" class="btn btn-secondary w-50 mx-auto me-2"  [routerLink]="['../']">Cancelar</button>
          <button type="submit" class="btn btn-primary w-50 mx-auto" (click)="saveAttendance()">Crear</button>
        </div>
      </form>

    </div>
  </div>
  <div *ngIf="blockPage" class="loader-container">
    <div class="position-fixed top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center bg-dark" style="opacity: 0.7;">
      <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="isAlert" class="alert alert-primary" role="alert">
    {{message}}
  </div>
</div>

