<div class="p-5">

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Estado</th>
      <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <th scope="row">1</th>
      <td>Invetario1</td>
      <td>Descriocion inevntario</td>
      <td>7</td>
      <td>Activo</td>
      <td class="d-flex">
        <i class="bi bi-trash-fill col-md-6 cursor-pointer" (click)="deleteInventory(1)" ></i>
        <i class="bi bi-pencil-fill col-md-6 cursor-pointer"></i>
      </td>
    </tr>
    </tbody>
  </table>


</div>
